@import url('https://fonts.googleapis.com/css?family=Josefin+Sans&display=swap');
html{
  scroll-behavior:smooth;
}
html[data-theme="dark"]{
  background-color: black;
  color:white;
}
*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  list-style: none;
  text-decoration: none;
  font-family: 'Josefin Sans', sans-serif;
}
.dark{
  float: right;
  line-height: 30px;
}
body{
   /* background-color: #f3f5f9; */
}
.oneline{
  color:grey;
  font-size: 100%;
  font-family: 'Philosopher', sans-serif;
  text-align: center;
}
.oneline .onelinemail{
  color: #6F42C1;
  font-family: 'Philosopher', sans-serif;

  /* font-size: 400%; */
}
.iconnamehead{
  color:grey;
  font-size: 400%;
  font-family: 'Philosopher', sans-serif;
  text-align: center;
}
.iconnamehead .iconname{
  color: #6F42C1;
  font-family: 'Philosopher', sans-serif;

  /* font-size: 400%; */
}
.wrapper{
  display: flex;
  position: relative;
}

.wrapper .sidebar{
  width: 200px;
  height: 100%;
  background: #6F42C1 ; //#4b4276;
  padding: 30px 0px;
  position: fixed;
}

.wrapper .sidebar h2{
   color: white;
  text-transform: uppercase;
  text-align: center;
  margin-bottom: 30px;
}

.wrapper .sidebar ul a{
  padding: 15px;
  text-align: center;
  padding-right: 70px;
  /* border-bottom: 1px solid #bdb8d7;
  border-bottom: 1px solid rgba(0,0,0,0.05);
  border-top: 1px solid rgba(255,255,255,0.05); */
}

.wrapper .sidebar ul a{
   color: #bdb8d7;
  display: block;
}

.wrapper .sidebar ul a .fas{
  width: 25px;
}

.wrapper .sidebar ul a li:hover{
  color: white;
}

.wrapper .sidebar ul a:hover li{
   color: white;
   transform: scale(1.7);
}

.wrapper .sidebar .social_media{
  position: absolute;
  bottom: 0;
  left: 50%;
  transform: translateX(-50%);
  display: flex;
}

.wrapper .sidebar .social_media a{
  display: block;
  width: 40px;
  background: purple;
  height: 40px;
  line-height: 45px;
  text-align: center;
  margin: 0 5px;
  color: #bdb8d7;
  border-top-left-radius: 5px;
  border-top-right-radius: 5px;
}

.wrapper .main_content{
  width: 100%;
  margin-left: 200px;
}

.wrapper .main_content .header{
  padding: 20px;
  background: #fff;
  color: #717171;
  border-bottom: 1px solid #e0e4e8;
}

.wrapper .main_content .info{
  margin: 40px;
  margin-left:150px;
  color: #717171;
  line-height: 25px;
}

.wrapper .main_content .info div{
  margin-bottom: 20px;
}
.info{
  font-size: 120%;
}

@media (max-height: 500px){
  .social_media{
    display: none !important;
  }
}
/* skills css */
.skilltitle{

    font-family: 'Saira Extra Condensed', sans-serif;
    margin: 48px;
    margin-top: 25px;
    font-size: 56px;

}
.skillicons{
  margin: 48px;
}
.skillco{
  margin-right: 30px;
}
.skillsmal{
  margin-right: 10px;
  height: 20px;
  height: 20px;
}
.listele{
  margin-bottom: 20px;
  /* font-size: 15px;
   margin-left: 10px;
   list-style-type: disc; */
}
/* education style */
.edutitle
{
  font-family: 'Saira Extra Condensed', sans-serif;
  margin: 48px;
  margin-top: 50px;
  font-size: 56px;
}
.duration{
  font-family: 'Muli', sans-serif;
  color: #6F42C1;
  text-align: right;
  float: right;
  font-size: 16px;
  margin-right:20px;
}
.eduhead{
  font-family: 'Saira Extra Condensed', sans-serif;
  margin-top: 40px;
  margin-left: 48px;

  font-size: 28px;

}
.sidehead{
  font-family: 'Saira Semi Condensed', sans-serif;
  margin-left: 48px;
  color:#868e96;
  margin-bottom: 20px;
  font-size: 24px;

}
.cont{
font-family: 'Muli', sans-serif;
  margin-left: 48px;
  color:#868e96;
  font-size: 16px;
}
.score{
font-family: 'Muli', sans-serif;
  margin-top:5px;
}


/* project styles */
.projtitle
{
  font-family: 'Saira Extra Condensed', sans-serif;
  margin: 48px;
  margin-top: 15px;
  font-size: 56px;
}

.buildon{
  font-family: 'Muli', sans-serif;
  color: #6F42C1;
  text-align: right;
  font-size: 16px;
  margin-left:15px;
  border-top: 1px solid lightgreen;
  border-bottom: 1px solid lightgreen;
}
.projhead{
  font-family: 'Saira Extra Condensed', sans-serif;
  margin-top: 40px;
  margin-left: 48px;
  font-size: 28px;
  line-height: 28px;
}
.projsidehead{
  font-family: 'Saira Semi Condensed', sans-serif;
  margin-left: 48px;
  color:#868e96;
  margin-bottom: 12px;
  font-size: 16px;

}
.projli{
  margin-bottom: 10px;
   /* font-size: 15px; */
   margin-left: 10px;
   list-style-type: disc;

}
.projcont{
font-family: 'Muli', sans-serif;
  margin-left: 48px;
  color:#717171;
  font-weight: normal;
  font-size: 20px;
}



.line1{
   padding: 2px;
  /* background: #fff; */
  color: #717171;
  border-bottom: 1px solid #e0e4e8;
  margin-top: 30px;
  margin-bottom: 10px;
}

/* work experience styles */
.worktitle{

  float:right;
  margin-right: 400px;
  /* font-family: 'Muli', sans-serif; */
  font-family: 'Saira Extra Condensed', sans-serif;
}
.workmaintitle{
    font-family: 'Saira Extra Condensed', sans-serif;
    margin: 48px;
    margin-top: 50px;
    font-size: 45px;

}
.workhead{
  font-family: 'Saira Extra Condensed', sans-serif;
  margin-top: 40px;
  margin-left: 48px;
  margin-bottom: 20px;
  font-size: 28px;
}
.workduration{
  font-family: 'Muli', sans-serif;
  color: #6F42C1;
  float: right;
  font-size: 16px;
  margin-right:20px;
}
/* awards styles */
.awardtitle{
    font-family: 'Saira Extra Condensed', sans-serif;
    margin: 48px;
    margin-top: 150px;
    font-size: 45px;

}
.awardli{
  margin-bottom: 18px;
   /* font-size: 15px; */
   margin-left: 10px;
   list-style-type: disc;

}

/* interests styles */
.intertitle
{
  font-family: 'Saira Extra Condensed', sans-serif;
  margin: 48px;
  margin-top: 100px;
  font-size: 56px;
}
.interestcontent{
font-family: 'Muli', sans-serif;
  margin-left: 48px;
  color:#868e96;
  margin-right: 30px;
  font-size: 16px;
   letter-spacing: 1.5px;
   word-spacing: 3px;
}


/* social_media icons style */
.middle{
  /* position: absolute; */
  top: 50%;
  transform: translateY(-50%);
  width: 100%;
  text-align: center;
}
.btn{
  display: inline-block;
  width: 60px;
  height: 60px;
  background: #f1f1f1;
  margin: 10px;
  border-radius: 30%;
  box-shadow: 0 5px 15px -5px #00000070;
  color: #3498db;
  overflow: hidden;
  position: relative;
}
.btn i{
  line-height: 60px;
  font-size: 26px;
  transition: 0.2s linear;
}
.btn:hover i{
  transform: scale(1.3);
  color: #f1f1f1;
}
.btn::before{
  content: "";
  position: absolute;
  width: 120%;
  height: 120%;
  background: #3498db;
  transform: rotate(45deg);
  left: -110%;
  top: 90%;
}
.btn:hover::before{
  animation: aaa 0.7s 1;
  top: -10%;
  left: -10%;
}
@keyframes aaa {
  0%{
    left: -110%;
    top: 90%;
  }50%{
    left: 10%;
    top: -30%;
  }100%{
    top: -10%;
    left: -10%;
  }
}
/* toggle styles */
input[type=checkbox]{
	height: 0;
	width: 0;
	visibility: hidden;
}

label {
	cursor: pointer;
	text-indent: -9999px;
	width: 52px;
	height: 27px;
	background: grey;
	float: right;
	border-radius: 100px;
	position: relative;
}

label:after {
	content: '';
	position: absolute;
	top: 3px;
	left: 3px;
	width: 20px;
	height: 20px;
	background: #fff;
	border-radius: 90px;
	transition: 0.3s;
}

input:checked + label {
	background:#03c2fc;
}

input:checked + label:after {
	left: calc(100% - 5px);
	transform: translateX(-100%);
}

label:active:after {
	width: 45px;
}

html.transition,
html.transition *,
html.transition *:before,
html.transition *:after {
  transition: all 750ms !important;
  transition-delay: 0 !important;
}
